@use "./fonts";
@use "./extends";
@use "./normalize";
@import "./vars";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "TR", sans-serif;
  font-size: 16px;
  color: $dark-blue;
}

.main-title {
  font-size: 3.125rem;
  text-transform: uppercase;
  text-align: center;
  color: $black;
}

.header {
  background-color: $gray;
  padding: 1.75rem 0 1.875rem;

  &__wrapper {
    @extend %flexSBCenter;
  }

  &__box {
    @extend %flexSBCenter;

    max-width: 111px;
    width: 100%;
  }

  &__button {
    @extend %button;

    i {
      @extend %i_button;
    }

    .search {
      background-image: url("../assets/icon/search.svg");
    }

    .cart {
      background-image: url("../assets/icon/cart.svg");
    }

    .person {
      background-image: url("../assets/icon/person.svg");
    }
  }
}

.nav {
  max-width: 601px;
  width: 100%;

  &__wrapper {
    @extend %flexSBCenter;
  }

  &__link {
    font-size: 0.8125rem;
    display: inline-block;
    transition: 0.3s ease-in;
    text-transform: uppercase;
    line-height: 1.3;

    &:hover {
      transform: scale(1.1);
    }
  }
}

main {
  flex: 1 0 auto;
}

.main-screen {
  margin-top: 3.125rem;

  &__wrapper {
    margin-top: 3.25rem;
    font-size: 0;
    display: flex;
  }
  &__img {
    display: inline-block;
    width: 100%;
  }
}

.main-catalog {
  margin: 5rem 0;

  &__wrapper {
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 270px;
  }

  &__title {
    @extend %TMfz20px;

    color: $black;
    text-transform: uppercase;
    margin: 1.25rem 0 0.5rem;
  }

  &__text {
    line-height: 1.4;
    margin-bottom: 0.625rem;
  }

  &__price {
    @extend %flexSBCenter;

    &__item {
      @extend %TMfz20px;

      color: $brown;

      &-old {
        color: #969aa5;
        position: relative;
        display: inline-block;
        margin-left: 0.625rem;

        &::before {
          content: "";
          position: absolute;
          right: 0;
          bottom: 9px;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: #969aa5;
        }
      }
    }

    &__button {
      @extend %button;

      i {
        @extend %i_button;
        background-image: url("../assets/icon/cart.svg");
      }
    }
  }
}

footer {
  flex: 0 0 auto;
}
